p {
  text-align: center;
  text-transform: capitalize;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h2 {
  color: brown;
}
h1 {
  color: aqua;
}

input:checked ~ #line_1 {
  opacity: 100;
}
input:checked ~ #line_2 {
  opacity: 0;
}

img {
  transition: 2s;
}
#line_2 ~ img {
  opacity: 0;
}
